* {
    font-family: 'Allura', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Rowdies', cursive;
    font-family: 'Rubik', sans-serif; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-verde: #D5F26B;
    --color-amarillo: #F2EB88;
    --color-violeta:#BA91F2;
    --color-lilaRosa: rgb(206, 121, 242);
    --color-negro: #1F1F1F;
}
.menuham{
    display: none;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

#keywordText {
    margin-left: 20px;
}

#keyword {
    margin: 20px 20px 0px 0px;
    border: none;
    background-color: #D9D9D9;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

#keyword:active {
    background-color: #1F1F1F;
}

#search {
    background-color: #D5F26B;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 80px;
    transition: 0.5s;
}

#search:focus {
    width: 90px;
    background-color: #adc557;
    font-weight: 100; 
    color: #F0FFB9;
}

.card_img {
    border-radius: 20px;
    margin-right: 190px;
}

.card_img:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.card_figure {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.elementList {
    width: 30%;
    height: 50%;
    margin: 20px;
}

#inventary {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
}

        /*MOBILE*/
        @media screen and (max-width: 767px) {
            body {
                background-color: #3de868;
            }
            
            header {
                widht: 100% !important;
                height: 100px !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .links a {
                display: none !important;
            }

            .menuham {
                display: flex !important;
            }

            footer {
                background-color: none !important;
            }

            .botonInsta {
                width: 44.5px;
                height: 45px;
            }

            .logoDR {
                width: 56px;
                height: 20px;
            }

            .logoPrincipal {
                width: 96px !important;
                height: 28px !important;
                top: 20px;
            }

            h4 {
                font-size: smaller !important;
                font-weight: 400 !important;
            }

            .circulito {
                width: 21.72px !important;
                height: 20px !important; 
                top: 110% !important;
                left: -10% !important;
            }

            .estrellita {
                width: 36.5px !important;
                height: 33.84px !important; 
                top: 113% !important;
                left: 50% !important;
            }

            .porcelana img {
                border-radius: 10px !important;
            }

            .mostacilla img {
                border-radius: 10px !important;
            }

            .straps img {
                border-radius: 10px !important;
            }
            .tituloPulseras{  /*HAY QUE HACER LAS IMÁENES MAS PEQUEÑAS*/
                width: 89.18px !important;
                height: 12.4px !important; 
            }

            .tituloAnillos {
                width: 79px !important;
                height: 12.4px !important; 
            }

            .tituloStraps {
                width: 75.86px !important;
                height: 12.4px !important; 
            }

            .productosPulseras article img {
                width: 102.61px !important;
                height: 121.41px !important;
                border-radius: 10px !important; 
            }

            .productosPulseras article h5 {
                display: none;
            }

            .productosAnillos article img {
                width: 102.61px !important;
                height: 121.41px !important; 
                border-radius: 10px !important;
            }

            .productosAnillos article h5 {
                display: none;
            }

            .productosStraps article img {
                width: 102.61px !important;
                height: 121.41px !important;
                border-radius: 10px !important; 
            }

            .productosStraps article h5 {
                display: none;
            }

            .links{
            display: none;
            }
            /*.menuham{
            display: block;
            }*/

            #conteItemsCarrusel {
                border: none !important;
                height: 250px !important;
            }
            
            
            #conteItemsCarrusel article {
                /*width: 100% !important;*/
                /*height: 250px !important;*/
                height: 100% !important;
                position: relative !important;
            }

            .headerA {
                width: 100% !important;
                height: 250px !important;
            }

            .headerB {
                width: 100% !important;
                height: 250px !important;
            }

            .headerC {
                width: 100% !important;
                height: 250px !important;
            }
        }

h2 {
    font-family: 'Rubik', sans-serif;
}

h4 {
    font-family: 'Rubik', Regular, sans-serif;
    font-weight: 400;
    font-size: large;
    margin-top: 4%;
    margin-bottom: 0.5%;
}

h5 {
    font-family: 'Rubik', Light, sans-serif;
    font-weight: 300;
    font-size: smaller;
    margin-top: 0.5%;
    margin-bottom: 5%;
}

body{
    background-color: #f2f2f2;
}

header {
    background-color: var(--color-verde);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 430px;
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 90px;
}


.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

.navegacion > h3 {
    margin: 20px;
}

.navegacion a {
    color: black;
    margin: 20px;
}

.carrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

main {
    background-color: #f2f2f2;
}

#conteItemsCarrusel {
    border: 5px solid rgba(206, 121, 242, 0.3);
    height: 566px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    background-color: rgb(114, 220, 185);
    height: 100%;
}

.flechasCarrusel {
    height: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1 {
    background-color: #e8a13d;
}

#tarjetaCarrusel-2 {
    background-color: #3de868;
}

#tarjetaCarrusel-3 {
    background-color: #793de8;
}

#contePuntos {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.punto1 {
    padding-right: 50%;
}

.punto2 {
    padding-right: 50%;
    padding-left: 50%;
}

.punto3 {
    padding-left: 100%;
}

#seccionACS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* #seccionACS img {
    width: 95%;
    height: 100%;
    margin: 1%;
}*/

.estrellita {
    position: relative;
    position: absolute;
    top: 260%;
    left: 76%;
    width: 161px;
    height: 150px;
    margin: -60px 0 0 150px;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.circulito {
    position: relative;
    position: absolute;
    top: 190%;
    left: 18%;
    width: 121px;
    height: 110px;
    margin: -60px 0 0 150px;
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
}

/*keyframes*/
@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

.porcelana {
    margin: 1%;
    transition: 0.5s;
}

.mostacilla {
    margin: 1%;
    transition: 0.5s;
}

.straps {
    margin: 1%;
    transition: .5s;
}

.porcelana:hover {
    width: 40%;
}

.mostacilla:hover {
    width: 40%;
}

.straps:hover {
    width: 40%;
}

.tituloPulseras {
    margin-top: 10%;
}

.tituloAnillos {
    margin-top: 5%;
}

.tituloStraps {
    margin-top: 5%;
}

.pulseras {
    margin: 1%;
}

.productosPulseras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.productosPulseras article {
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

/*.imagenScrollPulseras {
    overflow-x: scroll;
}*/

.productosAnillos article {
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.productosStraps article {
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.productosAnillos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

.productosStraps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}

a {
    text-decoration: none;
    color: #303030;
}

footer {
    background-color: #D9D9D9;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

footer > img {
    padding: 3,5%;
}

.botonInsta {
    margin-right: 100px;
}


.agregar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  transition: background .2s ease;
  transition-delay: .15s;
}

  .agregar svg {
    transform: rotate(270deg);
  }

   .agregar circle {
      stroke-width: 2;
      stroke: white;
      fill: none;
      /*//2 * Pi * 15 = 94,25*/
      stroke-dasharray: 95;
      /*//2 * stroke-dasharray*/
      stroke-dashoffset: 190;
      transition: all .6s ease;
      stroke-linecap: round;
    }

    #plus {
      transform-origin: 50% 50%;
      transition: all .8s ease;
    }

    #plus path {
        stroke-width: 2;
        stroke: white;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

  .toggle circle {
  stroke-dasharray: 95;
  stroke-dashoffset: 285;
  }

    #plus {
      transform: rotate(45deg);
    }

    #plus:hover {
      background: rgba(white,.06);    
    }
/*html, body
  height 100%*/
/*body {
  background: #644DE6;
  background-image: linear-gradient(90deg,#644DE6,#3D80E7);
}*/